= render partial: 'shared/header'
%main.group
  .group-header
    .group-header__left
      .group-header__left--group-image
        = image_tag @group.image.url
      .group-header__left--name
        = @group.title
      .group-header__left--user-length
        = fa_icon 'users'
        = "#{@group.users.length}人"
        |
        = fa_icon 'gamepad'
        - if @group.gametitles.present?
          - @group.gametitles.each do |g|
            = g.name
    - if @group.join?(current_user.id)
      #group-header__right{data: {group_id: "#{@group.id}"}}
        %button.btn.btn-success#create_message{type: "button"}
          コメントする
          = fa_icon 'comment', class: "message-icon"
    - else
      #group-header__right
        = link_to join_path(@group.id), method: :post do
          %button.btn.btn-success{type: "button"}
            グループに参加する
        
  .group-header-low.shadow
    = link_to group_messages_path(@group), method: :get, remote: true, id: "messages-btn" do
      #group-header-low__left.active
        チャット
    = link_to group_path(@group.id), method: :get, remote: true, id: "memo-btn" do
      #group-header-low__right
        グループ情報
  #messages-memo
    = render 'messages'
  -# = form_for [@group, @message] do |f|
  -#   = f.text_area :content
  -#   = f.submit '送信'
    