.articles
  - @articles.each do |article|
    .articles__article
      .articles__article--uper
        .title
          = article.title
        = render partial: 'shared/user', locals: { hoge: article }          
      .articles__article--main
        = article.content
      .articles__article--lower
        .tags
          = render partial: 'shared/tags', locals: { hoge: article }
        .delete
          = link_to "/articles/#{article.id}", method: :delete do
            = fa_icon 'trash'

