.articles
  - @articles.each do |article|
    = link_to article_path(article.id), method: :get do
      .articles__article.shadow.p-3.mb-5.rounded
        .articles__article--uper
          .title
            = article.title
          = render partial: 'shared/user', locals: { hoge: article }    
        .articles__article--thumbnail
          = image_tag article.image.url
= paginate @articles