= form_with(model: article, local: true) do |form|
  - if article.errors.any?
    #error_explanation
      %h2
        = pluralize(article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - article.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, { :class => 'title-field' }
  .field
    = form.label :content
    = form.text_area :content, { :class => 'content-field' }
  .field
    = form.label :image
    = form.file_field :image
  .field
    = form.collection_check_boxes :gametitle_ids, Gametitle.all, :id, :name
    -# - @gametitles.each do |gametitle|
      -# = form.check_box :gametitle_ids,
      -#   { multiple: true,checked: @article.gametitle.present? ? @article.gametitle.split(",").include?(gametitle) : false},gametitle, nil
      -# %span
      -#   = tag
    -# = form.collection_select :gametitle_ids, Gametitle.all, :id, :name
  .actions
    = form.submit
