= form_with(model: article, local: true) do |form|
  - if article.errors.any?
    #error_explanation
      %h2
        = pluralize(article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - article.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title, "タイトル"
    = form.text_field :title, { :class => 'title-field' }
  .field
    = form.label :content, "本文"
    = form.text_area :content, { :class => 'content-field' }
  .thumbnail-field
    .input-group.mb-3
      .custom-file
        = form.file_field :image, class: "custom-file-input", id: "inputGroupFileAddon01"
        = form.label :image, class: "custom-file-label" do
          サムネイル
  .field
    .tag_search
      %input#add-gametitle-search-field{:placeholder => "タグを追加しよう", :type => "text"}/
      %ul#add-gametitle-search-results
        %li.result
          test1
        %li.result
          test2
        %li.result
          test3
        %li.result
          test4
      
      %ul#added-gametitles
        %li
          %button.btn.btn-outline-secondary
            = fa_icon 'gamepad'
            test5
        %li
          %button.btn.btn-outline-secondary
            = fa_icon 'gamepad'
            test6

    -# = form.collection_check_boxes :gametitle_ids, Gametitle.all, :id, :name
  .actions
    = form.submit
