= render 'shared/header'
%main.article_index
  = render 'articles'    
.right
  .right__contents
    .tag_search
      %input#gametitle-search-field{:placeholder => "タグで検索", :type => "text"}/
      %ul#gametitle-search-results
      - if @result.present?    
        = "#{@result.name}タグで検索"
    .tags_popular
      .text.text-success
        人気のタイトル
      .tag
        ああああああああああ
      .tag
        あああああああ
      .tag
        ああああああああ
      .tag
        ああああああああああああ
      .tag
        ああああ
      .tag
        ああああああ
      .tag
        あああああああ
      .tag
        ああああああ
    .ranking
      .text.text-success
        - if @result.present?
          = "#{@result.name}の人気記事"
        - else
          ランキング
      - @rank.each do |rank|
        .title
          = link_to article_path(rank), method: :get do
            = rank.title
          
      -# = @articles.impressionist_count.sort_by{|k,v| rank}
      -# - @articles.order('mpressionist_count desc').each do |ranking|
      -#   = ranking.title