= render 'shared/header'
- @articles.each do |article|
  .articles
    .articles__article.bg-danger
      .articles__article--uper
        = article.title
        = "投稿者: #{article.user.name}"
      .articles__article--lower
        = article.content
