= render 'shared/header'
%main
  .article.shadow.p-3.mb-5.rounded
    .article__uper
      .title
        = @article.title
      = render partial: 'shared/user', locals: { hoge: @article }          
    .article__main
      = @article.content
    .article__lower
      = render partial: 'shared/tags', locals: { hoge: @article }
      .delete
        = link_to "/articles/#{@article.id}", method: :delete do
          = fa_icon 'trash'
        |
        = link_to 'Edit', edit_article_path(@article)
        |
        = link_to 'Back', articles_path

  .comments
    - @comments.each do |c|
      = c.text
      
    