= render 'shared/header'
%main
  .article.shadow.p-3.mb-5.rounded
    .article__uper
      .title
        = @article.title
      = render partial: 'shared/user', locals: { hoge: @article }          
    .article__main
      = @article.content
    .article__lower
      = render partial: 'shared/tags', locals: { hoge: @article }
      .delete
        = link_to "/articles/#{@article.id}", method: :delete do
          = fa_icon 'trash'
        |
        = link_to 'Edit', edit_article_path(@article)
        |
        = link_to 'Back', articles_path
      .like
        - if current_user.already_liked?(@article)
          = link_to article_like_path(@article), method: :delete do
            = fa_icon 'thumbs-up', class: "thumbs-up-cancel"
        - else
          = link_to article_likes_path(@article), method: :post do
            = fa_icon 'thumbs-up', class: "thumbs-up"
        いいね数
        = @article.likes.length
              

  .comments
    - @comments.each do |c|
      = c.user.name
      = c.text
    = form_for [@article, @comment] do |f|
      = f.text_area :text
      = f.submit 
      
      
    