= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_area :title
  .field
    = f.collection_check_boxes user_ids, User.all, :id, :name
  .actions
    = f.submit 'Save'
