= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message
  .main
    .field
      = f.label :title, "グループ名"
      = f.text_area :title, class: "group-name-field" 
    
    .field
      = f.label :memo, "グループメモ"
      = f.text_area :memo, class: "group-memo-field" 
    .field
      .tag_search
        %label
          ゲームタイトル
        %input#add-gametitle-search-field{:type => "text"}/
        %ul#add-gametitle-search-results
        
        %ul#added-gametitles
    
  .lower
    .lower__left
      .lower__left--group-icon
        = f.label :image do
          = fa_icon 'picture-o', class: "picture-icon"
          = f.file_field :image, class: 'mask__label--image'
    .lower__right
      .lower__right--back
        .btn.btn-warning
          = link_to 'Back', groups_path
      .lower__right--submit
        = f.submit 'Save', class: "btn btn-primary"
      
