.memo
  = "#{@group.title}のグループメモ"
  = @group.memo
- if current_user.id == @group.leader_id
  
  = link_to edit_group_path(@group.id), method: :get do
    %button.btn.btn-success{type: "button"}
      グループを編集する
- if @group.join?(current_user.id)
  = link_to exit_path(@group.id), method: :delete do
    %button.btn.btn-danger{type: "button"}
      グループを抜ける