= form_for @group do |f|
  .field
    = f.text_area :title, placeholder: 'グループ名を入力してください'
  .field
    = f.file_field :image
  .field
    = f.text_area :memo, placeholder: 'グループのメモ'
  .actions
    = f.submit 'Save'