%h1
  グループ一覧
.groups
  - current_user.groups.order(created_at: :DESC).each do |group|
    = link_to group_messages_path(group.id) do
      .groups__group
        = image_tag group.image.url
        = group.title
        = render partial: 'shared/tags', locals: { hoge: group }
        -# .delete
        -#   = link_to "/groups/#{group.id}", method: :delete do
        -#     = fa_icon 'trash'