= render 'shared/header'
%main
  .user-data.shadow
    .uper.progress
      .bg-img.progress.progress-bar-striped.bg-info{style: "width: 100%", role: "progressbar"}\
    .profile
      = image_tag @user.image.url, class: "rounded-circle"
      .name
        = @user.name
      .buttons
        - if @user.id == current_user.id
          %button.btn.btn-outline-success{type: "button"}
            プロフィールの変更
        - else
          = render partial: 'shared/follow', locals: { user: @user }
    .lower
      .menus
        .menu
          = link_to activities_path(@user), method: :get, remote: true do
            .activities.active
              = fa_icon 'comment dots', class: "icon"
              %p
                アクティビティ
          = link_to followings_path(@user), method: :get, remote: true do
            .follow
              = fa_icon 'user', class: "icon"
              %p
                フォロー ４
          .follower
            = fa_icon 'users', class: "icon"
            %p
              フォロワー 4
  #user-show-contents
    = render partial: 'activities'